.top__1 {
    font-size: 54px;
    color: black;
}
.container-top {
    text-align: center;
    padding-top: 100px;
}
.top__2 {
    // margin-left: 570px;
    margin-top: -20px;
}
.top__3 {
    margin-top: -10px;
}
.container-button {
    display: flex;
   grid-gap: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: space-between;
}
.button_1_img {
    text-align: center;
    margin-left: 97px;
}
.contain__1 {
    color: black;
}
.awesome-container {
    padding-bottom: 100px;
}
.contain__3_icon_img {
    background-color: #ffffff;
    height: 150px;
    width: 150px;
    text-align: center;
    border: 4px solid #ff8b38;
    border-radius: 100px;
    margin-left: 13px;
    padding-left: 19px;
    padding-top: 19px;
    margin-bottom: 22px;
}