section.footer {
    background-color: black;
}
.abc {
    margin-top: 35px;
    width: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
i.fab.fa-facebook-f {
    color: #cccccc;
    margin-right: 8px;
}
i.fab.fa-twitter {
    color: #cccccc;
    margin-right: 8px;
}
i.fab.fa-google-plus-g {
    color: #cccccc;
    margin-right: 8px;
}
i.fab.fa-pinterest {
    color: #cccccc;
    margin-right: 8px;
}
i.fab.fa-instagram {
    color: #cccccc;
    margin-right: 8px;
}
i.fab.fa-stumbleupon {
    color: #cccccc;
    margin-right: 8px;
}
i.fas.fa-rss {
    color: #cccccc;
    margin-right: 8px;
}
.footer__2 {
    text-align: center;
    font-size: 33px;
    padding-top: 18px;
}
.footer-text {
    text-align: center;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 14px;
}