section.stylissh {
    background-image: url('../images/design.png');
}
.stylissh-container {
    text-align: center;
}
.design__2 {
    margin-top: 15px;
    width: 75px;
    size: 4px;
    background-color: white;

    // margin-left: 550px;
}
.design__1 {
    font-size: 50px;
    font-weight:lighter;
    padding-top: 40px;
}
.design__3 {
    font-size: 20px;
    color: #ffffff91;
    padding-top: 15px;
}
.design_button {
    padding-bottom: 50px;
}